@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --normal-text: 'Rubik', sans-serif;
    --bold-font: 'Moto Serif', serif;
    --paragraph-font: 'Rubik', sans-serif;
    --main-color: #5521B5;
    --grey-color: #F4F6F9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--normal-text);
}

/* HEADER SECTION */
header .containers {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1em 7em;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

nav ul li a {
    color: black;
    font-weight: 500;
}

nav ul li a:hover {
    color: #6C2BD9;
    font-weight: bold;
}

.active {
    color: #6C2BD9;
    font-weight: bold;
}

.button a button {
    padding: 1em 2em;
    background-color: #6C2BD9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.buttons button {
    background-color: white;
    border: 1px solid gray;
    padding: 0.5em 0.8em;
}

.buttons button:first-child {
    background-color: gainsboro;
}

.padding {
    padding: 7em;
}

.paddings {
    padding: 0 7em;
}

/* HERO SECTION */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-items {
    grid-column: span 7;
    align-self: center;
}

.grid-items-1 {
    grid-column: span 5;
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.grid-items-1 img {
    width: 100%;
}

.grid-items-1:hover {
    transform: translateY(-10%);
}

.grid-items h1 {
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--head-text);
}

.grid-items p {
    font-weight: 100;
    line-height: 1.7;
    font-family: var(--light-text);
}

.grid-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.grid-icons p {
    font-size: 1.5rem;
    color: grey;
    font-weight: bold;
    font-family: var(--normal-font);
}

/* WORK SECTION */
.work {
    background-color: var(--grey-color);
}

.work-text {
    font-family: var(--normal-font);
    grid-column: span 6;
    align-self: center;
}

.work-img {
    grid-column: span 6;
}

.work-img img {
    width: 100%
}

.work-text h1 {
    font-family: var(--bold-font);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.0;
    padding-bottom: 0, 5em;
}

.work-text p {
    line-height: 1.7;
    font-size: 1rem;
    font-weight: lighter;
    font-family: var(--paragraph-font);
    padding: 1.5em 0;
}

.list .list-1 {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.list .list-1 p {
    font-size: 1rem;
    margin: 0;
    padding: 0.5em 0;
}

.list .list-1 i {
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    color: white;
    padding: 0.3em;
}

/* TRUST SECTION */

.trust-text {
    font-family: var(--normal-font);
    grid-column: span 6;
    align-self: center;

}

.trust-text h1 {
    font-family: var(--bold-font);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.0;
    padding-bottom: 0.5em;
}


.list .list-1 {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.trust-text .list .list-1 p {
    font-size: 1rem;
    margin: 0;
    padding: 0.5em 0;
    color: var(--main-color);
}

.trust-text .list .list-1 i {
    background: none;
    border-radius: 50%;
    display: inline-block;
    color: var(--main-color);
    padding: 0.3em;
}

.trust-text .trust-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0em;
}

@media only screen and (max-width: 992px) {
    header nav {
        display: none;
    }

    .grid-items,
    .work-text,
    .trust-text {
        grid-column: span 12;
        order: 2;
    }

    .grid-img,
    .work-img {
        grid-column: span 12;
    }

    .grid-icons {
        flex-wrap: wrap;
    }

    .grid-icons p {
        font-size: 1rem;
    }

    .padding {
        padding: 7em 2em 5em;
    }

    .paddings {
        padding: 0em 2em;
    }

}

@media only screen and (max-width: 414px) {
    .trust-text .trust-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-items h1 {
        font-size: 2rem;
    }

    .buttons,
    .button {
        display: none;
    }
}